body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#favorites-header{
  text-align: center;
}
.leaflet-container {
  width: 100%;
  height: 50vh;
}
.restaurants {
  height:50vh;
  width:40%;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
} 

.child h1{
  text-align: center;
}

.restaurantLists {
  display: flex;
  align-items: center;
}

.restaurantLists button {
  height:26px;
}
.restaurantLists p {
  padding: 10px;
}
.favorites { 
 display:flex;
 width: 100%

}

.child{
  flex:1;
  border: 2px solid blueviolet; 
}

.BackLink {
  text-align: center;
  display: inherit;
  margin-top: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

#nav-container {
  position: sticky;
  background-color: white;
  width: 100%;
  top: 0px;
}

#map {
  width: 50%
}
#main-page-header {
  text-align: center;
}
.main-page {
  display:flex;
  width: 100%
}

.favorites .child ul {
  height:300px;
  width:auto;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto

}

.favorites .child ul p:hover {
  background-color: yellow
}
.restaurant {
  outline:none;
  cursor:pointer;
  width:100px;
  height:100px
}

.reviews { 
  display:none;
}